#Port 22
Protocol 2
AddressFamily inet
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
X11Forwarding no
TCPKeepAlive no
ClientAliveInterval 600
ClientAliveCountMax 3
SyslogFacility AUTH
LogLevel INFO
PrintLastLog yes
UsePAM no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
HostbasedAuthentication no
IgnoreUserKnownHosts yes
PermitEmptyPasswords no
PasswordAuthentication no
LoginGraceTime 30
PermitRootLogin no
MaxAuthTries 3
MaxStartups 3
StrictModes yes
IgnoreRhosts yes
PrintMotd no
DebianBanner no
AllowTcpForwarding no
Include /etc/ssh/sshd_config.d/*.conf
Subsystem sftp	/usr/lib/openssh/sftp-server